.comment.card
  .numbers.like-badge
    .number
      span.number.num-likes= comment.numLikes
    .button
      a.like.comment-like-btn(href='#', data-id=comment.id)
        i.fa.fa-thumbs-up
        | 
        | Like

  .card-body
    .comment= comment.comment
  .row-sm-8
    .col-sm.text-left
      .numbers.dislike-badge
        .number
          span.number.num-dislikes= comment.numDisLikes
        .button
          a.dislike.comment-dislike-btn(href='#', data-id=comment.id)
            i.fa.fa-thumbs-down
            |
            | DisLike
  .row-sm-4.card-body
    .col-sm
    .col-sm.text-right
      .author
        | commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
        if comment.author
          | 
          | by #[a(href=`/users/${comment.author.id}`)= comment.author.name]
