.comment.card
  .numbers.like-badge
    .number
      span.number.num-votes= register.numLikes
    .button
      a.like(href='#', data-id=comment.id)
        i.fa.fa-thumbs-up
        | 
        | Like
    .numbers.hate-badge
    .number
      span.number.num-votes= register.numHates
    .button
      a.hate(href='#', data-id=comment.id)
        i.fa.fa-thumbs-down
        |
        | Hate

  .card-body
    .content= comment.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | commented on #{moment(comment.createdAt).format('YYYY-MM-DD')}
        if comment.author
          | 
          | by #[a(href=`/users/${comment.author.id}`)= comment.author.name]