extends ../layout

block content
  .container
    h1.main-title= register.name

    .register.show
      .name= register.name
      .sponsor= register.sponsor
      .field= register.field
      .participate= register.participate
      .period= register.period
      .content= register.content
      .manager= register.manager
      .contact= register.contact
      include _register

      .buttons
        if currentUser
          button.btn.btn-secondary.register-like-btn(data-id=register.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
          if register.author && register.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/registers/${register.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/registers/${register.id}?_method=delete`) Delete
      
    if register.numComments > 0
      hr
      h3 #{register.numComments} Comment(s)
      .comments.show
        each comment in comments
          include _comment

    if currentUser
      form(action=`/registers/${register.id}/comments`, method='POST')
        .form-group
          label(for='comment') Your Comment
          textarea.form-control(name="comment", rows="5")
        button.btn.btn-secondary(type="submit") Post Your Comment


  script(src='/javascripts/register_client.js')