extends ../layout

block content
  .container
    h1.main-title= register.name

    .register.show
      include _register

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        | 
        a.btn.btn-outline-secondary(href=`/registers/${register.id}/edit`) Edit
        | 
        a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/registers/${register.id}?_method=delete`) Delete
      
    if register.numComments > 0
      hr
      h3 #{register.numComments} Comment(s)
      .comments.show
        each comment in comments
          include _comment

    form(action=`/registers/${register.id}/comments`, method='POST')
      .form-group
        label(for='comment') Your Comment
        textarea.form-control(name="content", rows="5")
      button.btn.btn-dark(type="submit") Post Your Comment

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
