extends ../layout

block content
  .container
    h1.main-title= register.name

    .register.show
      .name= "이름: " + register.name
      .sponsor= "주최사: " + register.sponsor
      .field= "분야: " + register.field
      .participate= "응시대상: " + register.participate
      .period= "접수기간: " + register.period
      .content= "공모요강: " + register.content
      .award= "시상내역: " + register.award
      .manager= "담당자: " + register.manager
      .contact= "연락처: " + register.contact
      include _register

      .buttons
        if currentUser
          button.btn.btn-secondary.register-like-btn(data-id=register.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-up] Like
          |
          button.btn.btn-secondary.register-dislike-btn(data-id=register.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span #[i.fa.fa-thumbs-down] DisLike
          |
          if register.author && register.author.id == currentUser.id
            | 
            a.btn.btn-outline-primary(href=`/registers/${register.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/registers/${register.id}?_method=delete`) Delete
      
    if register.numComments > 0
      hr
      h3 #{register.numComments} Comment(s)
      .comments.show
        each comment in comments
          include _comment

    if currentUser
      form(action=`/registers/${register.id}/comments`, method='POST')
        .form-group
          label(for='comment') Your Comment
          textarea.form-control(name="comment", rows="5")
        button.btn.btn-secondary(type="submit") Post Your Comment


  script(src='/javascripts/register_client.js')